    body,
    html {
        padding: 0;
        margin: 0;

        * {
            box-sizing: border-box;
        }
    }

    @keyframes popIn {
        0% {
            background-color: rgba(80, 80, 80, 0.5);
        }

        100% {
            background-color: transparent;
        }
    }

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        height: 100vh;
        padding: 35px;
        background-color: rgba(25, 25, 25, 0.5);
        gap: 50px;
        align-items: center;

        .click-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 60vh;
            width: 25%;
            padding: 25px;
            background-color: rgba(50, 50, 50, 0.5);

            .title {
                color: white;
            }

            .click-box {
                width: 100px;
                height: 100px;
                background-color: white;

                &::before {
                    color: black;
                    margin: auto;
                    content: 'CLICK HERE';
                }
            }

            .info-container {
                background-color: white;
                width: 80%;
                height: 70%;
                overflow-y: auto;

                .info-item {
                    animation: popIn 0.5s ease-out forwards;
                    padding: 5px;
                    margin: 0;
                }
            }
        }
    }